{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% if user.is_authenticated %}
  Hi {{ user.username }}!
  {% else %}
  <p>You are not logged in</p>
{% endif %}
{% block content %}
<div class="wrap-index">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="index-header--img">
          <!-- jumbotron -->
          <img style="min-width: 40em; max-width: 100%;" src="https://picsum.photos/500/300" alt="">
        </div>
      </div>
      <div class="col-6 d-flex justify-content-center align-items-center">
        <div class="wrap-header--summary">
          <div class="header-summary summary-text">
            Every Which Way to Make a Chocolate Cake
          </div>
          <div class="header-summary summary-text-small">
            There's not only one chocolate cake recipe
          </div>
          <!-- readmore -->
          <div class="header-summary readmore">
            <a href="#"> Read More</a>
          </div>
        </div>
      </div>
    </div>
</div>
  

{% endblock %}
